<div id="container">
    <header>
        <h1>Rubato</h1>
        {{hello}}
    </header>

    <div id="create">
        <form method='POST' action=''>
            <label for="playlist">Add to playlist: </label>
            <input type='text' name='playlist' value=''>
            <label for="title">Title</label>
            <input type='text' name='title' value=''>
            <label for="artist">Artist</label>
            <input type='text' name='artist' value=''>
            <input type='submit' value='Submit'>
        </form>
    </div>
</div>