{{#each titles}}
<table id="table">
    <tr>
        <th>Playlist Name</th>
        <th>Artists</th>
    </tr>
    <tr>
        <td>{{playlistName}}</td>
        <td>
            {{#each info}}
            <a href={{this.link}}>{{this.artist}}</a>
            <br>
            {{/each}}
        </td>
    </tr>
    {{/each}}
</table>