<div class="row justify-content-center">
    <div class="col-auto">
        <table class="table" class="table-primary" class="table table-bordered">
            {{#each titles}}
            <thead>
                <tr class="table-primary">
                    <th scope="col">Playlist</th>
                    <th scope="col">Artists</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{playlistName}}</td>
                    <td>
                        {{#each info}}
                        <a href={{this.link}}>{{this.artist}}</a>
                        <br>
                        {{/each}}
                    </td>
                </tr>
            </tbody>
            {{/each}}
        </table>
    </div>
</div>