<!DOCTYPE html>

<head>
	<title id="title">Rubato</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/dist/output.css" rel="stylesheet">
</head>

<body>
	<header>
		<h1><a href='/'>Rubato</a></h1>
	</header>

	<nav>
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/create">Create Playlist</a></li>
			<li><a href="/filter">Get Artist Albums</a></li>
		</ul>
	</nav>
	{{{body}}}
</body>

</html>