<!DOCTYPE html>

<head>
	<title>Rubato</title>
	{{!--
	<link href="https://fonts.googleapis.com/css?family=Fira+Sans+Extra+Condensed" rel="stylesheet">

	<link rel="stylesheet" href="/stylesheets/style.css" type="text/css" media="screen" title="no title"
		charset="utf-8"> --}}
</head>

<body>
	{{{body}}}
</body>

</html>