<div class="row justify-content-center align-middle">
    <div class="col-auto">
        <h1 class="fs-4 mt-3 mb-3">Login</h1>
        <form method='POST' class="row g-3 mt-3" action=''>
            <div class="col-12">
                <input type='text' name='username' value='' placeholder="Username">
            </div>

            <div class="col-12">
                <input type='text' name='password' placeholder='Password' value=''>
            </div>

            <div class="col-12">
                <input type='submit' value='Login'>
            </div>
        </form>
        <div class="mt-2">
            {{message}}
        </div>
    </div>
</div>