<div class="row justify-content-center align-middle">
    <div class="col-auto">
        <h1 class="fs-4 mt-3 mb-3">Get Related Artists</h1>
        <form method='POST' action=''>
            <input type='text' name='artist' placeholder='Artist name' value="">
            <input type='submit' value='Search'>
        </form>

        <table class="table mt-3">
            <tr>
                <th>Similar artists to {{found.1.name}}</th>
            </tr>
            {{#each found}}
            <tr>
                <td>
                    <a href={{this.link}}>{{this.artistName}}</a>
                </td>
                <td>
                    {{this.genre}}
                </td>
            </tr>
            {{/each}}
        </table>
    </div>
</div>